body {
  font-family: Arial, sans-serif;
}

h2 {
  color: #ff7d7d;
}

.card {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

footer {
  background: #ffffff;
  color: rgb(255, 144, 144);
}
.ooo{
  max-height: 400px;
}